{% extends 'base/main.html' %}
{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h3><i class="fas fa-trash-alt"></i> Delete Task</h3>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-light"> <a href = "{% url 'task-list'%}"> <i class="fas fa-arrow-circle-left"></i> To Do List</a> </button>
          </div>
        </div>
    </div>
    <br>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ task_delete }}" task? </p>
        {{ form }}
        <input type="submit" class="btn btn-primary mb-2" value="Confirm">
    </form>
{% endblock content %}