{% extends 'base/main.html' %}
{% block content %}
      {% if request.user.is_authenticated %}
      <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h3><i class="fas fa-user"></i> Hello {{request.user|title}} !  </h3>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-light"> <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></button>
            </div>
          </div>
      </div>
      {% else %}
      <button type="button" class="btn btn-light"> <a href="{% url 'login' %}">Login </a></button>
      {% endif %} 
      <hr>
      <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h5>To Do List</h5>
              <h5> <i class="fas fa-tasks"></i>  You have <b> {{count}} </b> incomplete task{{count|pluralize:"s"}} </h5>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-light">  <a href = "{% url 'task-create' %}"> <i class="fas fa-plus"></i> Add Task</a> </button>
            </div>
          </div>
      </div>
      <br> 
      <form method="GET">
          <input type='text' class="form-control" name='search-area' placeholder="Search a task" value="{{search_input}}">
          <input type='submit' class="btn btn-primary mb-2" value='Search'> 
      </form>
      <br> 
      <table class="table">
            <tr>
              <th scope="col">Items </th> 
              <th scope="col">Task Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr> 
            {% comment %} {% for tasks in object_list %} {% endcomment %}
          {% for task in task_l %}
                    <tr>
                          <td> {{task.title}} </td>
                          <td> 
                                  {% if task.complete %}
                                          <div class="task-title complete">
                                              <div class="task-complete-icon"></div>
                                              <i><s> Complete </s></i>
                                          </div>
                                  {% else %}    
                                          <div class="task-title incomplete">
                                              <div class="task-incomplete-icon"></div>
                                              <i> Pending </i>
                                          </div>
                                  {% endif%}
                          </td>
                          <td> <a href = "{% url 'task-detail' task.id %}"> <i class="fas fa-info-circle"></i> </a> </td>
                          <td> <a href = "{% url 'task-update' task.id %}"> <i class="fas fa-edit"></i></a> </td>
                          <td> <a href = "{% url 'task-delete' task.id %}"> <i class="fas fa-trash-alt"></i> </a> </td>
                      </tr> 
            {% empty %}
                      <h3>No item found... </h3>
            {% endfor %}
      </table> 
{% endblock content %}  